<!DOCTYPE html>
<html>
<head>
  <title>Hire Monterey | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "mystylesheet", :media => "all" %>
  <%= stylesheet_link_tag 'homecss' if params[:action] == 'home' %>
  <%= stylesheet_link_tag 'mainbg' if params[:action] != 'home' %>
  <!--I removed the default stylesheet_link_tag and the application.css 

file to prevent my stylesheets from compiling together so I could 

display the homepage background image on the homepage only-->
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application", 

"rails.validations"  %>
  <%= csrf_meta_tags %>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<style>
a img {
    border: 0;
}
</style>
<%= analytics_init if Rails.env.production? %>
</head>


<body>
        <div id="indexwrap">
          <div id="toplogo"><span style="border: 0">
          <%= link_to image_tag("smalllogo.png"), jobs_path  if params[:action] != 'home' %></span>
          <% if params[:action] == 'index'%>
            <span style="float: right; margin-top: 28px; color: black; font-family: Arial; font-size: 13px">

              


          <% if params[:q] != nil %>
            <% case %>
            <% when params[:q][:created_at_gt] == nil && params[:q][:location_eq] == nil && params[:q][:job_type_eq] == nil %>
              <%= @jobs.count %> Jobs Listed 

            <% when params[:q][:created_at_gt] != nil && params[:q][:location_eq] == nil && params[:q][:job_type_eq] == nil %>
              <%= @jobs.count %> Jobs Listed Since <span style="font-style:italic"><%= params[:q][:created_at_gt].to_time.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d") %></span>

            <% when params[:q][:created_at_gt] == nil && params[:q][:location_eq] != nil && params[:q][:job_type_eq] == nil %>
              <%= @jobs.count %> Jobs Listed In <span style="font-style:italic"><%= params[:q][:location_eq] %></span>

            <% when params[:q][:created_at_gt] == nil && params[:q][:location_eq] == nil && params[:q][:job_type_eq] != nil %>
              <%= @jobs.count %> Jobs Listed As <span style="font-style:italic"><%= params[:q][:job_type_eq] %></span>

            <% when params[:q][:created_at_gt] != nil && params[:q][:location_eq] != nil && params[:q][:job_type_eq] == nil %>
              <%= @jobs.count %> Jobs Listed In <span style="font-style:italic"><%= params[:q][:location_eq] %></span> Since <span style="font-style:italic"><%= params[:q][:created_at_gt].to_time.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d") %></span>

            <% when params[:q][:created_at_gt] != nil && params[:q][:location_eq] == nil && params[:q][:job_type_eq] != nil %>
              <%= @jobs.count %> Jobs Listed As <span style="font-style:italic"><%= params[:q][:job_type_eq] %></span> Since <span style="font-style:italic"><%= params[:q][:created_at_gt].to_time.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d") %></span>

            <% when params[:q][:created_at_gt] == nil && params[:q][:location_eq] != nil && params[:q][:job_type_eq] != nil %>
              <%= @jobs.count %> Jobs Listed In <span style="font-style:italic"><%= params[:q][:location_eq] %></span> As <span style="font-style:italic"><%= params[:q][:job_type_eq] %></span>

            <% when params[:q][:created_at_gt] != nil && params[:q][:location_eq] != nil && params[:q][:job_type_eq] != nil %>
              <%= @jobs.count %> Jobs Listed In <span style="font-style:italic"><%= params[:q][:location_eq] %></span> As <span style="font-style:italic"><%= params[:q][:job_type_eq] %></span> Since <span style="font-style:italic"><%= params[:q][:created_at_gt].to_time.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d") %></span>


            <% end %>
          <% end %>

          </span>
        <% end %>


          </div>
        </div>
      <div class="user_nav">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Home", root_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <%= link_to "About", about_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <%= link_to "Contact", contact_path %>
            <% if current_user %>
            <div class="toprightA">
            <span style="font-style:italic">Logged in as <%= current_user.email %></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "My Jobs", '/myjobs/all' %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "Log Out", log_out_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        <% else %>
            <div class="toprightB">
            <%= link_to "Sign up to post job", sign_up_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to "Employer log in", log_in_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- Add link to new job here? -->
          </div>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>

    <%= render 'layouts/footer' %>
</body>

</html>


